/*@import url(https://fonts.googleapis.com/css?family=VT323);*/

html {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:bold;
}
body {
    background-image: url(landing.png);
    background-repeat: no-repeat;
    background-size: 1920px auto;
}
a {
    text-decoration: none;
    color: white;
}
.button {
    border-bottom: 6px inset #001B5E;
    border-left: 6px inset #89AAFC;
    border-right: 6px inset #001B5E;
    border-top: 6px inset #89AAFC;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 100px;
    width: 200px;
    background-color: #89AAFC;
    text-align: center;
    text-decoration-color: black;
    text-transform: uppercase;
}

.buttonSmall {
    border-bottom: 6px inset #001B5E;
    border-left: 6px inset #89AAFC;
    border-right: 6px inset #001B5E;
    border-top: 6px inset #89AAFC;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    height: 48px;
    width: 588px;
    background-color: #89AAFC;
    text-align: center;
    text-decoration-color: black;
    text-transform: uppercase;
    padding-top:10px;
}

#header {
    height: 75px;
    background-color: #001B5E;
    color: white;
    text-align: center;
}
    #heading{
        padding:2px;
        font-size: 2rem;
        position: relative;
        top: -40%;
    }

#myProgress {
    width: 100%;
    background-color: white;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #001B5E;
    text-align: center;
    color: white;
}

#content {
    height: 767px;
    margin-top: 20px;
}
    #container {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right:auto;
        height: 605px;
        width: 1075px;
        display: block;
        border-bottom: 6px inset #001B5E;
        border-left: 6px inset #89AAFC;
        border-right: 6px inset #001B5E;
        border-top: 6px inset #89AAFC;
        background-color: white;
    }
        #img {
            padding:0;
            margin-left: 0;
            margin-right: auto;
        }
    #button_row {
        height:130px;
        display: block;
        column-count: 3;
    }
        #choose {
            margin-left:65%;
        }
            #choose_text{
                padding:10px;
            }
        #conv {
            border-bottom: 6px inset #001B5E;
            border-left: 6px inset #89AAFC;
            border-right: 6px inset #001B5E;
            border-top: 6px inset #89AAFC;
            margin: 20px auto 65px;
            width: 600px;
            height: 100px;
            text-align:center;
            background-color:#89AAFC;
        }
            #conv_text {
                position:absolute;
                width:600px;
                height:25px;
                text-align:center;
                bottom:14.5%;
                font-size:1.5rem;
            }
        #products {

        }
            #products_text {
                padding: 10px;
            }
#footer {
    column-count: 2;
    background-color: #001B5E;
    color: white;
    height: 58px;
    text-decoration-color: white;
    font-size: smaller;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
    #date{
        margin-top:75px;
        position: absolute;
        top:85%;
        left:40px;
        bottom:0;
        display:inline-block;
    }
    #copyright{
        top:85%;
        margin-top:75px;
        position:absolute;
        right:40px;
        bottom:0;
        display:inline-block;
    }