<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Maum Kiosk</title>
    <link rel="stylesheet" th:href="@{/input_style.css}" />
</head>

<body>

<div id="header">
    <div id="heading">
        <p>Maum Kiosk (Powered by maum.ai)</p>
    </div>
</div>

<div id="content">
    <div id="container">
        <main>
            <video width="1075" height="605"></video>
            <!--    <video id="vid2" autoplay></video>-->
            <!--        <button id="btnStop">STOP RECORDING</button></p>-->
            <script>
                let constraintObj = {
                    audio: false,
                    video: {
                        facingMode: "user",
                        width: { min: 640, ideal: 1280, max: 1920 },
                        height: { min: 480, ideal: 720, max: 1080 }
                    }
                };
                // width: 1280, height: 720  -- preference only
                // facingMode: {exact: "user"}
                // facingMode: "environment"

                //handle older browsers that might implement getUserMedia in some way
                if (navigator.mediaDevices === undefined) {
                    navigator.mediaDevices = {};
                    navigator.mediaDevices.getUserMedia = function(constraintObj) {
                        let getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                        if (!getUserMedia) {
                            return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                        }
                        return new Promise(function(resolve, reject) {
                            getUserMedia.call(navigator, constraintObj, resolve, reject);
                        });
                    }
                }else{
                    navigator.mediaDevices.enumerateDevices()
                        .then(devices => {
                            devices.forEach(device=>{
                                console.log(device.kind.toUpperCase(), device.label);
                                //, device.deviceId
                            })
                        })
                        .catch(err=>{
                            console.log(err.name, err.message);
                        })
                }

                navigator.mediaDevices.getUserMedia(constraintObj)
                    .then(function(mediaStreamObj) {
                        //connect the media stream to the first video element
                        let video = document.querySelector('video');
                        if ("srcObject" in video) {
                            video.srcObject = mediaStreamObj;
                        } else {
                            //old version
                            video.src = window.URL.createObjectURL(mediaStreamObj);
                        }

                        video.onloadedmetadata = function(ev) {
                            //show in the video element what is being captured by the webcam
                            video.play();
                        };

                        //add listeners for saving video/audio
                        let start = document.getElementById('btnStart');
                        // let stop = document.getElementById('btnStop');
                        let vidSave = document.getElementById('vid2');
                        let mediaRecorder = new MediaRecorder(mediaStreamObj);
                        let chunks = [];

                        start.addEventListener('click', (ev)=>{
                            mediaRecorder.start();
                            console.log(mediaRecorder.state);
                            let i = 0;
                            function move() {
                                if (i === 0) {
                                    i = 1;
                                    let elem = document.getElementById("myBar");
                                    let width = 1;
                                    let id = setInterval(frame, 10);
                                    function frame() {
                                        if (width >= 100) {
                                            clearInterval(id);
                                            i = 0;
                                        } else {
                                            width++;
                                            elem.style.width = width + "%";
                                        }
                                    }
                                }
                            }
                            move();
                            setTimeout(function(){mediaRecorder.stop();},2000);
                            console.log(mediaRecorder.state);
                        })
                        // stop.addEventListener('click', (ev)=>{
                        //     mediaRecorder.stop();
                        //     console.log(mediaRecorder.state);
                        // });
                        mediaRecorder.ondataavailable = function(ev) {
                            chunks.push(ev.data);
                        }
                        mediaRecorder.onstop = (ev)=>{
                            let blob = new Blob(chunks, { 'type' : 'video/mp4;' });
                            chunks = [];
                            vidSave.src = window.URL.createObjectURL(blob);
                        }
                    })
                    .catch(function(err) {
                        console.log(err.name, err.message);
                    });

                /*********************************
                 getUserMedia returns a Promise
                 resolve - returns a MediaStream Object
                 reject returns one of the following errors
                 AbortError - generic unknown cause
                 NotAllowedError (SecurityError) - user rejected permissions
                 NotFoundError - missing media track
                 NotReadableError - user permissions given but hardware/OS error
                 OverconstrainedError - constraint video settings preventing
                 TypeError - audio: false, video: false
                 *********************************/
            </script>
        </main>
    </div>
    <div id="button_row">
        <div class="button" id="choose">
            <div id="choose_text">
                <a class="selected" th:href="redirectB">Back to Welcome</a>
            </div>
        </div>
        <div id="conv">
            <div class="buttonSmall" id="btnStart">
                <a class="selected">Record your face</a>
            </div>
            <div id="myProgress">
                <div id="myBar">Loading...</div>
            </div>
        </div>
<!--        <form action="#" th:action="@{/result/}" th:object="${vidInput}" method="post">
            <p>Id: <input type="text" key="vid2" th:field="*{content}" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>-->
        <div class="button" id="products">
            <div id="products_text">
                <a class="selected" th:href="redirectF">Proceed to Result</a>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="date">
        <p th:text="${#dates.format(datetime, 'E, dd MMM yyyy HH:mm z')}" class="text-muted">Page was rendered today.</p>
    </div>
    <div id="copyright">
        <p>Copyright &copy; 2020 Minds Lab Inc.</p>
    </div>
</div>

</body>

</html>