<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Maum Kiosk</title>
    <link rel="stylesheet" th:href="@{/input_style.css}" />
    <style>
        input[target=_button] {
            color: white;
            padding: 10px;
            font-family: "Roboto", sans-serif;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

<div id="header">
    <div id="heading">
        <p>Maum Kiosk (Powered by maum.ai)</p>
    </div>
</div>

<div id="content">
    <div id="container">
        <main>
            <div id="displayBox">
                <video width="1075" height="605"></video>
            </div>
            <!--    <video id="vid2" autoplay></video>-->
            <!--        <button id="btnStop">STOP RECORDING</button></p>-->
            <script>
                // let worker = new Worker("worker.js");
                // worker.onmessage = function (event) {
                //     let message = event.data;
                //     if (message.type === "ready") {
                //         outputElement.textContent = "Loaded";
                //         worker.postMessage({
                //             type: 'command',
                //             arguments: ['-help']
                //         })
                //     } else if (message.type === "stdout") {
                //         outputElement.textContent += message.data + "\n";
                //     } else if (message.type === "start") {
                //         outputElement.textContent = "Worker has received command\n";
                //     }
                // };
                // const { createFFmpeg } = FFmpeg;
                // const ffmpeg = createFFmpeg({
                //     log: true,
                // });
                let constraintObj = {
                    audio: false,
                    video: {
                        facingMode: "user",
                        width: { min: 640, ideal: 1280, max: 1920 },
                        height: { min: 480, ideal: 720, max: 1080 }
                    }
                };
                // width: 1280, height: 720  -- preference only
                // facingMode: {exact: "user"}
                // facingMode: "environment"

                //handle older browsers that might implement getUserMedia in some way
                if (navigator.mediaDevices === undefined) {
                    navigator.mediaDevices = {};
                    navigator.mediaDevices.getUserMedia = function(constraintObj) {
                        let getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                        if (!getUserMedia) {
                            return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                        }
                        return new Promise(function(resolve, reject) {
                            getUserMedia.call(navigator, constraintObj, resolve, reject);
                        });
                    }
                }else{
                    navigator.mediaDevices.enumerateDevices()
                        .then(devices => {
                            devices.forEach(device=>{
                                console.log(device.kind.toUpperCase(), device.label);
                                //, device.deviceId
                            })
                        })
                        .catch(err=>{
                            console.log(err.name, err.message);
                        })
                }

                navigator.mediaDevices.getUserMedia(constraintObj)
                    .then(function(mediaStreamObj) {
                        //connect the media stream to the first video element
                        let video = document.querySelector('video');
                        if ("srcObject" in video) {
                            video.srcObject = mediaStreamObj;
                        } else {
                            //old version
                            video.src = window.URL.createObjectURL(mediaStreamObj);
                        }

                        video.onloadedmetadata = function(ev) {
                            //show in the video element what is being captured by the webcam
                            video.play();
                        };

                        //add listeners for saving video/audio
                        let start = document.getElementById('btnStart');
                        // let stop = document.getElementById('btnStop');
                        let vidBase64 = document.getElementById('vidBase64');
                        let ftResult = document.getElementById('ftResult');
                        let options = {mimeType: 'video/webm;codecs=h264'};
                        let mediaRecorder = new MediaRecorder(mediaStreamObj, options);
                        let chunks = [];
                        let elem = document.getElementById("myBar");
                        let uploadedVid = document.getElementById('uploadedVid');

                        start.addEventListener('click', (ev)=>{
                            start.disabled;
                            mediaRecorder.start();
                            console.log(mediaRecorder.state);
                            let i = 0;
                            function move() {
                                if (i === 0) {
                                    i = 1;

                                    let width = 1;
                                    let id = setInterval(frame, 45);
                                    function frame() {
                                        if (width >= 100) {
                                            clearInterval(id);
                                            i = 0;
                                        } else {
                                            width++;
                                            elem.style.width = width + "%";
                                        }
                                    }
                                }
                            }
                            move();
                            setTimeout(function(){mediaRecorder.stop();},5000);
                            console.log(mediaRecorder.state);
                        })
                        mediaRecorder.ondataavailable = function(ev) {
                            chunks.push(ev.data);
                        }
                        mediaRecorder.onstop = (ev)=>{
                            let blob = new Blob(chunks, { 'type' : 'video/webm;' });
                            // transcode(blob);
                            chunks = [];
                            let reader = new window.FileReader();
                            reader.readAsDataURL(blob);
                            reader.onloadend = function () {
                                vidBase64.value = reader.result;
                                elem.innerHTML = 'Capture complete!';
                            }

                            // let fd = new FormData();
                            // // let file = new File([blob], 'recording');
                            // let file = uploadedVid.files[0];
                            // fd.append('video', file);
                            // fd.append('apiId', 'swhange91d6f0f28ab');
                            // fd.append('apiKey', '78ab9ae227d149539d96ed553ae448a4');
                            //
                            // let request = new XMLHttpRequest();
                            // request.open("POST", "https://api.maum.ai/Vca/faceTracking");
                            // request.setRequestHeader("Content-Type", "multipart/form-data");
                            // request.onload = function() {
                            //     if (request.status === 200) {
                            //         console.log('Success!');
                            //     } else {
                            //         console.log('Failed with status code ' + request.status);
                            //     }
                            // }
                            // request.send(fd);
                            // request.onloadend = function () {
                            //     elem.innerHTML = 'Conversion Complete';
                            //     ftResult.value = request.responseText;
                            //     alert(this.response);
                            // }
                        }
                    })
                    .catch(function(err) {
                        console.log(err.name, err.message);
                    });

                /*********************************
                 getUserMedia returns a Promise
                 resolve - returns a MediaStream Object
                 reject returns one of the following errors
                 AbortError - generic unknown cause
                 NotAllowedError (SecurityError) - user rejected permissions
                 NotFoundError - missing media track
                 NotReadableError - user permissions given but hardware/OS error
                 OverconstrainedError - constraint video settings preventing
                 TypeError - audio: false, video: false
                 *********************************/
            </script>
        </main>
    </div>
    <div id="button_row">
        <div class="button" id="choose">
            <div id="choose_text">
                <a class="selected" th:href="redirectB">Back to Welcome</a>
            </div>
        </div>
        <div id="conv">
            <div class="buttonSmall" id="btnStart">
                <a class="selected">Record your face</a>
            </div>
            <div id="myProgress">
                <div id="myBar">Loading...</div>
            </div>
            <script>
                document.addEventListener('click', musicPlay);
                function musicPlay() {
                    document.getElementById('player').play();
                    document.removeEventListener('click', musicPlay);
                }
            </script>
            <audio id="player" controls autoplay hidden>
                <source th:src="${voiceSrc}">
                unsupported !!
            </audio>
        </div>

        <form th:action="@{/input/save}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:id="vidBase64" name="vidBase64" value="None" />
            <input type="hidden" th:id="ftRequest" name="ftRequest" value="None" />
<!--            <input type="file" th:id="uploadedVid" name="uploadedVid" />-->
            <input type="submit" class="button" id="products" target="_button" value="Submit" />
        </form>
    </div>
</div>

<div id="footer">
    <div id="date">
        <p th:text="${#dates.format(datetime, 'E, dd MMM yyyy HH:mm z')}" class="text-muted">Page was rendered today.</p>
    </div>
    <div id="copyright">
        <p>Copyright &copy; 2020 Minds Lab Inc.</p>
    </div>
</div>

</body>

</html>