<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Maum Kiosk</title>
    <link rel="stylesheet" th:href="@{/input_style.css}" />
    <style>
        input[target=_button] {
            color: white;
            padding: 10px;
            font-family: "Roboto", sans-serif;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
        }
    </style>
</head>

<body>

<div id="header">
    <div id="heading">
        <p>Maum Kiosk (Powered by maum.ai)</p>
    </div>
</div>

<div id="content">
    <div id="container">
        <div id="img">
            <img th:src="@{/maum.ai_web.png}" width="1075" height="605" alt="landing"/>
        </div>
    </div>
    <div id="button_row">
        <div class="button" id="choose">
            <div id="choose_text">
                <a class="selected" href="http://maum.ai/serviceLanding/enCloudApiMain">Cloud API by maum.ai</a>
            </div>
        </div>
        <div id="conv">
            <div id="conv_text">
                <a>Welcome. Press "Proceed" to sign-in.</a>
            </div>
        </div>
        <div class="button" id="products">
            <div id="products_text">
                <a class="selected" th:href="redirect">Proceed to Input</a>
            </div>
        </div>
<!--        <form th:action="@{/submit}" method="post" enctype="multipart/form-data">-->
<!--            <input type="file" th:id="submitFile" required />-->
<!--            <input type="submit" class="button" target="_button" value="Submit" />-->
<!--        </form>-->
    </div>
</div>



<div id="footer">
    <div id="date">
        <p th:text="${#dates.format(datetime, 'E, dd MMM yyyy HH:mm z')}" class="text-muted">Page was rendered today.</p>
    </div>
    <div id="copyright">
        <p>Copyright &copy; 2020 Minds Lab Inc.</p>
    </div>
</div>

</body>

</html>